<div class="background">
  <img src="../../assets/images/Faves.png" alt="logo" height="80px" />
  <h1>Favedom</h1>
  <mat-divider></mat-divider>
  <h1>Your once in a lifetime moment starts now.</h1>
  <mat-divider></mat-divider>

  <div id="registerBtn">
    <button mat-stroked-button class="primaryBtn">REGISTER WITH EMAIL</button>
    <button mat-stroked-button class="primaryBtn googleBtn">
      <img
        src="https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-512.png"
        alt="google"
        height="25px"
        style="padding-right: 10px;"
      />
      Sign in with Google
    </button>
    <button mat-stroked-button class="primaryBtn fbBtn">
      <img
        src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/facebook-512.png"
        alt="facebook"
        height="25px"
        style="padding-right: 10px;"
      />
      Login with Facebook
    </button>
  </div>
</div>
